
body {
	text-align: center;
	background-color: cornsilk;
}

.calculator-div {
	max-width: 250px;
	margin: 0 auto;
	padding: 5px;
}

#screen-text {
	border: none;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.8em;
	padding: 8px;
	text-align: right;
	margin-bottom: 5px;
}

.calculator-operations {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.calculator-operations button {
	border: none;
	color: #fff;
	background-color: royalblue;
	border-radius: 3px;
	padding: 10px;
	font-weight: bold;
}

.calculator-operations button:hover {
	cursor: pointer;
}